.navbar {
    background-color: beige;
    padding: 1rem;
}

.navbar-brand {
    font-size: 1.2rem;
    color: #333;
    font-weight: bold;
    margin-right: 1.5rem;
}

.navbar-brand:hover {
    color: #0056b3;
    text-decoration: none;
}

.form-control {
    max-width: 300px;
}

.btn-outline-primary {
    color: #0056b3;
    border-color: #0056b3;
}

.btn-outline-primary:hover {
    background-color: #0056b3;
    color: white;
}
.nav{
    display: flex;
        justify-content: space-between;
        align-items: center;
        
}
.input{
    margin-left: 1200px;
    margin-bottom: px;
}
